@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-size: 10px;
  }
  body{
    font-size: 1.5rem;
    @apply text-text
  }
}

@layer components{
  .gray-button {
    @apply active:scale-90 dark:hover:bg-darkHover hover:bg-lightHover duration-250 rounded-xl dark:text-textLightGray cursor-pointer inline-flex items-center justify-center
  }

  .setting-input{
    @apply pl-10 pr-10 bg-lightBlock text-black w-[100%] h-[80%] rounded-4xl font-[1rem]
  }
  
  .main-container{
    @apply bg-lightBack dark:bg-darkGray flex items-center justify-center flex-col w-full h-screen top-0 font-bold text-4xl dark:text-white
  }

  .blue-button{
    @apply dark:text-black flex items-center justify-center bg-blue rounded-4xl
  }

  .select-style{
    -webkit-appearance:none; /* 크롬 화살표 없애기 */
    -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
    appearance:none; /* 화살표 없애기 */
  }

  .focusInteraction{
    @apply outline-blue !shadow-none bg-lightBack animate-focusAnimation
  }

  .textStyle{
    @apply pl-3 pr-3 bg-white translate-y-[-150%] duration-200
  }

  .arrowStyle{
    @apply rotate-[180deg]
  }
}